$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

.about-container {
    text-align: left;
    padding: 24px 32px;

    @media screen and (max-width: $lg) {
        padding: 12px 16px;
    }

    h3,
    h4 {
        color: #C9ADA7;
    }

    .greeting-section {
        margin-bottom: 2em;

        .name {
            font-size: 40px;

            @media screen and (max-width: $md) {
                font-size: 30px;
            }
        }

        .current-role {
            font-weight: 500;
            font-size: 20px;
            margin-top: 8px;

            @media screen and (max-width: $md) {
                font-size: 18px;
            }
        }
    }

    .about-me {
        margin: 10px 0;

        @media screen and (max-width: $md) {
            font-size: 14px;
            margin: 2em 0;
        }

        .para {
            margin: 0;
        }

        .first {
            margin-bottom: 10px;
        }
    }

    .skills-section {
        display: grid;
        grid-template-columns: auto auto;

        @media screen and (max-width: $lg) {
            display: block;
        }

        @media screen and (max-width: $md) {
            font-size: 14px;
        }

        .skills-container {
            margin: 8px 0;
            max-width: 400px;

            @media screen and (max-width: $lg) {
                margin: 16px 0;
                max-width: 100%;
            }

            .skills-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin: 10px 0;

                a {
                    text-decoration: none;
                    color: #f2e9e4;
                }

                .skill-item {
                    border: 1px solid #f2e9e4;
                    padding: 8px 16px;
                    border-radius: 16px;
                    cursor: pointer;

                    @media screen and (max-width: $md) {
                        padding: 6px 12px;
                    }

                    &:hover {
                        background: #f2e9e4;
                        color: #22223b;
                    }

                    >p {
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}