.Modal {
    position: absolute;
    inset: 40px;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 24px;
    background-color: #f2e9e4;
    width: 40%;
    margin: auto;
    height: fit-content;
    color: #22223b;
    max-height: 70vh;
    overflow-y: auto;

    .heading-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;

        .heading {
            font-size: 2em;
            font-weight: 700;
        }

        .close-button {
            font-size: 1.3em;
            cursor: pointer;
        }
    }

    .contact-body {
        .field {
            margin-bottom: 10px;

            h3 {
                font-size: 16px;
                margin-bottom: 5px;
            }

            input,
            textarea {
                width: 100%;
                box-sizing: border-box;
                border-radius: 3px;
                font-size: 14px;
                border: none;
                padding: 4px;
            }
        }
    }

    .required-text {
        margin: 5px 0;
        font-size: 12px;
        font-weight: 500;
    }

    .submit-form {
        text-align: right;

        button {
            border: none;
            font-size: 16px;
            font-weight: 600;
            background: #22223b;
            color: #f2e9e4;
            padding: 8px 16px;
            border-radius: 3px;
            border: 1px solid #22223b;
            cursor: pointer;

            &:hover {
                background-color: #f2e9e4;
                color: #22223b;
            }

            &:disabled {
                cursor: not-allowed;
                background-color: rgba(34, 34, 59, 0.5);
                color: rgb(242, 233, 228, 0.8);
                border: rgba(34, 34, 59, 0.5);
            }
        }
    }

}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}