.experience-section {
    padding: 0 32px;

    .download-btn {
        text-decoration: none;
        color: #22223b;
        background: #C9ADA7;
        padding: 8px;
        border-radius: 8px;
        margin-left: 10px;
        font-size: 12px;
    }

    .experience-content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 4em;

        .experiences-list {

            .list-container {
                padding-left: 40%;
                text-align: left;
                transform: none;

                .swiper-pagination-bullet {
                    list-style-type: none;
                    position: relative;
                    padding: 0 16px;
                    font-size: 1.3em;
                    background-color: transparent;
                    color: #f2e9e4;
                    margin: 24px;
                    width: auto;
                    height: auto;
                    border-radius: inherit;

                    .circle {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: #f2e9e4;
                        position: absolute;
                        left: 95%;
                        top: 24%;
                    }
                }

                .swiper-pagination-bullet-active {
                    font-weight: 600;
                }
            }
        }

        .selected-experience-summary {
            text-align: left;
            padding: 0 10em 0 3em;

            .date-location {
                display: flex;
                justify-content: space-between;
            }

            .summary p {
                color: #C9ADA7;
            }

            .responsibilities-list {
                li {
                    margin: 8px 0;
                }
            }
        }
    }
}

.swiper {
    height: calc(100vh - 350px);
}

.swiper-slide {
    // text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}