$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

.experience-section {
    padding: 0 32px;

    @media screen and (max-width: $xl) {
        font-size: 14px;
        padding: 16px;
    }

    .download-btn {
        text-decoration: none;
        color: #22223b;
        background: #C9ADA7;
        padding: 8px;
        border-radius: 8px;
        margin-left: 10px;
        font-size: 12px;

        @media screen and (max-width: $lg) {
            font-size: 10px;
            padding: 6px;
        }
    }

    .experience-content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 4em;

        @media (max-width: $md) and (min-width: $sm) {
            margin-left: 10px;
            grid-template-columns: 1fr 2fr;
        }

        @media screen and (max-width: $sm) {
            display: block;
            margin-top: 2em;
        }

        .experiences-list {

            .list-container {
                padding-left: 40%;
                text-align: left;
                transform: none;

                @media (max-width: $xl) and (min-width: $lg) {
                    padding-left: 20%;
                }

                @media screen and (max-width: $lg) {
                    padding-left: 0%;
                }

                .swiper-pagination-bullet {
                    list-style-type: none;
                    position: relative;
                    padding: 0 16px;
                    font-size: 1.3em;
                    background-color: transparent;
                    color: #f2e9e4;
                    margin: 24px;
                    width: auto;
                    height: auto;
                    border-radius: inherit;

                    @media screen and (max-width: $lg) {
                        margin: 12px 0;
                        font-size: 16px;
                        padding: 0;
                    }            

                    .circle {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: #f2e9e4;
                        position: absolute;
                        left: 95%;
                        top: 24%;
                    }
                }

                .swiper-pagination-bullet-active {
                    font-weight: 600;
                }
            }
        }

        .selected-experience-summary {
            text-align: left;
            padding: 0 10em 0 3em;

            @media (max-width: 1300px) and (min-width: $lg) {
                padding: 0 5em 0 1.5em;
            }

            @media (max-width: $lg) and (min-width: $md) {
                padding: 0 2em 0 0;
            }

            @media (max-width: $md) and (min-width: $sm) {
                padding: 0 0 0 1em;
            }

            @media screen and (max-width: $sm) {
                padding: 0;
                margin-top: 2em;
            }

            .swiper {
                height: calc(100vh - 350px);

                @media (max-width: $md) and (min-width: $sm) {
                    height: calc(100vh - 330px);
                    background: rgba(0, 0, 0, 0.1);
                }

                @media (min-width: 250px) and (max-width: 350px) {
                    height: 400px;
                    background: rgba(0, 0, 0, 0.1);
                }

                @media screen and (max-width: 250px) {
                    height: 500px;
                    background: rgba(0, 0, 0, 0.1);
                }
            }
            
            .swiper-slide {
                font-size: 18px;

                @media screen and (max-width: 1300px) {
                    font-size: 14px;
                }

                .date-location {
                    display: flex;
                    justify-content: space-between;
                }
    
                .summary p {
                    color: #C9ADA7;
                }
    
                .responsibilities-list {
                    li {
                        margin: 8px 0;
                    }
                }
            }
            
        }
    }
}