@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.App {
  background-color: #22223b;
  color: #f2e9e4;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 0.8px;
}

.hide {
  display: none;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 96px;
}

.content-btn {
  text-decoration: none;
  color: #22223b;
  background: #c9ada7;
  padding: 16px 48px;
  border-radius: 8px;
  border: 1px solid #22223b;
}

.content-btn:hover {
  cursor: pointer;
  transition: all 0.3s;
  color: #c9ada7;
  border: 1px solid #c9ada7;
  background: #22223b;
}

.xs,
.sm,
.md {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .lg,
  .md {
    display: none !important;
  }

  .xs,
  .sm {
    display: block !important;
  }

  .App {
    height: auto;
  }

  p {
    line-height: 22px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .xs,
  .sm,
  .lg {
    display: none !important;
  }

  .md {
    display: block !important;
  }
}
