@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  background-color: #22223b;
  color: #f2e9e4;
  height: calc(100vh - 80px);
  padding: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.hide {
  display: none;
}